*,
*::before,
*::after {
    box-sizing: border-box;
}

* {}

body {
    background-color: #F4F4F4;
}

.item {
    width: 220px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
    margin-right: 5px;

    &__stats {
        color: #AAA;
        font-size: 13px;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    &__cover {
        width: 100%;
        display: block;
    }

    &__stat {

        /* All items except the
    last one. */
        &:not(:last-of-type) {
            margin-right: 8px;
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}